<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gebros.platform.sample">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name="com.gebros.platform.GBApplication"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.gebros.platform.sample.MainActivity"
            android:configChanges="fontScale|orientation|keyboardHidden|locale|navigation|screenSize|uiMode"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.gebros.platform.sample.TextTabActivity"
            android:configChanges="fontScale|orientation|keyboardHidden|locale|navigation|screenSize|uiMode">
        </activity>

        <activity android:name="com.facebook.FacebookLoginActivity"
            android:label="@string/app_name"/>
        <activity android:name="com.facebook.PermissionSelectActivity"/>

        <!--<activity android:label="@string/label_account_kit_login"-->
            <!--android:name="com.accountkit.AccountKitLoginActivity"/>-->

        <!--<activity-->
            <!--android:name="com.accountkit.ErrorActivity"-->
            <!--android:label="@string/action_bar_title_hello" />-->

        <!--<activity-->
            <!--android:name="com.accountkit.CodeActivity"-->
            <!--android:label="@string/action_bar_title_hello" />-->

        <!--<activity-->
            <!--android:name="com.accountkit.TokenActivity"-->
            <!--android:label="@string/action_bar_title_hello" />-->
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_application_id" />
        <meta-data android:name="com.facebook.sdk.ApplicationName" android:value="@string/app_name" />

    </application>

</manifest>